<div class="modal-body" ng-controller="flickrController">
  <div class="btn-group action-btns">
    <button class="btn btn-link" ng-click="Lightbox.prevImage()">Prev</button>
    <a class="btn btn-link hidden-xs hidden-sm" ng-href="{{Lightbox.imageUrl}}" target="_blank">Open in a new tab</a>
    <button class="btn btn-link" ng-click="Lightbox.nextImage()">Next</button>
    <button class="btn btn-link visible-xs visible-sm" ng-click="Lightbox.closeModal()">Close</button>
  </div>
  
  <!-- image -->
  <div class="lightbox-image-container">
    <img src="assets/img/spinner.gif" ng-src="{{Lightbox.imageUrl}}">
  </div>
  
  <!-- Image Caption -->
  <div class="row description">
    
    <div class="col-md-6">
      <h5>{{Lightbox.image.title || "No Title"}}</h5>
      <p>{{Lightbox.image.author}}</p>
      <div class="">
        <span>Author ID:<br>{{Lightbox.image.author_id}}</span>
        <span>Date Taken:<br>{{Lightbox.image.date_taken | date:"dd MMM yyyy 'at' ha"}}</span>
        <span>
			Date Published:<br>{{Lightbox.image.published | date:"dd MMM yyyy 'at' ha"}}</span>
        <span>Tags:<br> {{Lightbox.image.tags || "No tag available"}}</span></div>
    </div>

    <div class="col-md-6 right" ng-init="showForm = false">
      <div class="loader-img" ng-if="sendingEmail">
        <img src="assets/img/spinner.gif" alt="Sending">
      </div>

      <div class="func-btns">
        <button class="btn btn-link" ng-click="downloadImage(Lightbox.imageUrl)" ng-show="!showForm">DownLoad</button>
        <button class="btn btn-link" ng-click="showForm = true; sendStatus = ''" ng-show="!showForm">Share Via Email</button>
      </div>

      <form name="emailForm" role="form" novalidate ng-show="showForm">
        <input type="text" class="form-control" placeholder="Your Name" ng-model="email.name" ng-required="true">
        <input type="email" class="form-control" placeholder="RECIPIENT'S EMAIL" ng-model="email.email" ng-required="true">
        <button class="btn btn-link" ng-click="showForm = !showForm">cancel</button>
        <button class="btn btn-link" type="submit" ng-disabled="emailForm.$invalid || emailForm.$pristine" ng-click="shareViaEmail(email, Lightbox.imageUrl)">Send Email</button>
      </form>

      <h5 ng-if="sendStatus">{{sendStatus}}</h5>

    </div>

  </div>
</div>