<!--
============================
Search Box
============================
-->
				<form name="searchTagForm" role="form" novalidate>
					<div class="input-with-icon">
						<input class="form-control" ng-model="searchTag" type="text" placeholder="Search" required>
						<button type="submit" class="btn btn-link search-button" ng-disabled="searchTagForm.$invalid || searchTagForm.$pristine"
								ng-click="getImage(searchTag)"><img class="input-icon" src="assets/img/icons/icon-search.svg" alt="search icon"></button>
					</div>
				</form>

<!--
============================
Header Section
============================
-->
<section id="header">
	<div class="container">
		<div class="row ">
			<div class="col-md-5">
				<img class="logo" src="assets/img/logo.svg">
				<div class="app-desc">An image gallery application that uses the public image Flickr feed as a data source. Use git as the source code version
					control system.</div>
			</div>
			<div class="col-md-5 col-md-offset-2 right">
				<!--
        Buttons for image filtering
        -->
				<div class="filter-buttons">
					<div class="sort-btn">
						<button class="btn btn-link" ng-class="{'active': sortBy == 'date_taken'}" ng-click="sortBy = 'date_taken'">Date Taken</button>
						<button class="btn btn-link" ng-class="{'active': sortBy == 'published'}" ng-click="sortBy = 'published'">Date Published</button>
					</div>
					<div class="sort-btn">
						<button class="btn btn-link" ng-class="{'active': sortType == ''}" ng-click="sortType = ''">Ascending</button>
						<button class="btn btn-link" ng-class="{'active': sortType == '-'}" ng-click="sortType = '-'">Descending</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!--
============================
Image Gallery Section
============================
-->
<section id="gallery">
	<div class="container-fluid">
		<!-- 
		Spinner for Image Gallery 
		-->
		<div class="loader" ng-if="loading">
			<img src="assets/img/loader.gif">
		</div>
		<!-- 
		Gallery 
		-->
		<div class="row gallery">
			<div class="image col-md-3" ng-repeat="image in imageList | orderBy:getSortBy(sortBy,sortType):true track by $index" style="background: url({{image.media.m}}) no-repeat; background-size: cover; background-position: center">
				<!--
				Image Overlay to Show Image Meta Data 
				-->
				<div class="overlay" ng-click="openLightboxModal(image)">
					<h5>{{image.title || "No Title"}}</h5>
					<p>{{image.author}}</p>
					<div class="description">
						<span>Author ID:<br>{{image.author_id}}</span>
						<span>Date Taken:<br>{{image.date_taken | date:"dd MMM yyyy 'at' ha"}}</span>
						<span>Date Published:<br>{{image.published | date:"dd MMM yyyy 'at' ha"}}</span>
						<span class="tags">Tags:<br> {{image.tags || "No tag available"}}</span></div>
						<img class="lightbox-icon" src="assets/img/icons/icon-expand.svg" alt="lightbox icon">
				</div>
			</div>
		</div>
	</div>
</section>