/*------------------------------------------------------------------
2. Common
------------------------------------------------------------------*/

input {
    &.form-control {
        height: 44px;
        line-height: 44px;
        border: 0px;
        outline: 0px;
        @include box_shadow(none);
        border-radius: 0px;
        @include transition(all 0.5s ease-in);
        &::-webkit-input-placeholder {
            text-transform: uppercase;
            letter-spacing: 4px;
            opacity: 1;
            color: #000;
        }
        &:active,
        &:focus,
        &:hover {
            border-bottom: 1px solid #000;
            outline: 0px;
            @include box_shadow(none);
        }
    }
}

.input-with-icon {
    position: relative;
    width: 120px;
    margin-top: 40px;
    margin-right: 30px;
    float: right;
    @include transition(all 0.5s ease-in);
    &:focus,
    &:active,
    &:hover {
        width: 200px;
    }
    .search-button {
        position: absolute;
        right: 0px;
        top: 4px;
        &:focus,
        &:active,
        &:hover {
            outline: 0px;
            @include box_shadow(none);
        }
    }
    input {
        padding-right: 35px;
        padding-left: 3px;
    }
}

.btn{
    color: $black;
    text-align: right;
    text-transform: uppercase;
    text-decoration: none !important;
    letter-spacing: 1px;
    opacity: 0.4;
    &.active {
        font-weight: 700;
        opacity: 1;
    }
    &:hover,
    &:active {
        color: $black;
        opacity: 1;
        text-decoration: none !important;
    }
    &:focus {
        color: $black;
        outline: none !important;
        text-decoration: none !important;
    }
}

//Overrides default modal backdrop
.modal-backdrop.in {
    opacity: 0.8;
}

//loader
.loader{
    width: 100%;
    text-align: center;
    background: $light;
}