/*------------------------------------------------------------------
4. Gallery Section
------------------------------------------------------------------*/
#gallery{
    .image{
        min-height: 300px;
        margin: 0px;
        padding: 0px;
       margin-top: -6px;
       background-color: #f0f0f0;
        background-size: cover;
        background-repeat: no-repeat;



        .overlay{
            visibility: hidden;
            width: 100%;
            height: 100%;
            min-height: 300px;
            padding: 20px 30px;
            background: rgba(0,0,0,0.7);
            color: rgba(255,255,255, 0.5);
            cursor: pointer;
            position: relative;
            @include transition(all 0.1s ease-in);
            h5{
                color: #fff;
                letter-spacing: 0.4px;
                font-weight: 300;
                line-height: 1.6;
                width: 100%;
                @include text_elipse;

            }
            p, .description{
                font-size: 12px;
                letter-spacing: 0.3px;
                margin-bottom: 16px;
                width: 100%;
                white-space: nowrap;
                overflow: hidden;
                @include text_elipse;
                span{
                    padding-top:5px;
                    display: block;
                    &.tags{
                      @include text_elipse;
                      overflow: hidden;
                    }
                }
            }

            .lightbox-icon{
                position: absolute;
                bottom: 15px;
                right: 15px;
                padding: 5px;
            }
        }
        &:hover{
                .overlay{
                    visibility: visible;
                }
            }
    }
}
