/*------------------------------------------------------------------
3. Header Section
------------------------------------------------------------------*/

#header {
    padding: 40px 0px; // top 100px bottom 0px
    .logo {
        width: 136px;
        margin: 30px 0px; // top 30px bottom 0
    }
    .right {
        position: relative;
        min-height: 310px;
        .filter-buttons {
            position: absolute;
            bottom: 0px;
            right: 0px;
            .sort-btn {
                display: inline-block;
                .btn {
                    display: block;
                    width: 100%;
                }
            }
        }
    }
}