/*------------------------------------------------------------------
5. LightBox
------------------------------------------------------------------*/

.modal-body{
    background: $black;
    color: $light;
    padding-top: 0px;

    .lightbox-image-container{
        img{
            width: 100%;
        }
    }

    .action-btns{
        padding: 10px;
        width: 100%;
        .btn{
            color: $light;
            width: 33%;
            text-align: center;
        }
    }
    h5{
        white-space: normal;
        &+p{
            opacity: 0.6;
        }
    }
    .description{
        padding: 20px 0px;
        .btn{
            color: $light;
        }
       span{
            white-space: normal;
       }
       .right{
           padding-left: 30px;
           text-align: right;
           position: relative;
           h5{
               padding-right: 15px;
           }
       }
    }

    form{
        
        input{
            &.form-control{
                background: transparent;
                color: $light;
                text-align: right;
                border-bottom: 1px solid $light;
                padding-right: 11px;
                &::-webkit-input-placeholder {
                    color: $light;
                }
            }
        }
        .btn{
            margin-top: 10px;
        }
    }
        .loader-img{
            position: absolute;
            height: 100%;
            z-index: 9999;
            background: $black;
            width: 100%;
            text-align: center;
            img{
                height: 100%; 
                
            }
        }

    .func-btns{
        .btn{
            display: block;
            width: 100%;
            
        }
    }

    .btn{
        &:focus{
            outline: 0px;
            text-decoration: none;
        }
    }
    
}