// Mixins for transtions. usage: .class { @include transition(all 0.1s ease-in); }
@mixin transition($transition) {
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -ms-transition: $transition;
    transition: $transition;
}
// Mixins for box shadow. usage: .class { @include box_shadow(0 8px 6px -6px black); }
@mixin box_shadow($shadow){
  -webkit-box-shadow: $shadow;
-moz-box-shadow: $shadow;
box-shadow: $shadow;
}

// Add ... after text
@mixin text_elipse(){
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}
