/*------------------------------------------------------------------
6. Responsive
------------------------------------------------------------------*/


@media screen and (max-width: 768px) {
    #header {
        .right {
            min-height: 150px;
            padding-top: 30px;
            .filter-buttons {
                left: 0;
                .btn {
                    text-align: left;
                }
            }
        }
    }

    .modal-body {
        .description {
            .right {
                text-align: left;
                padding-left: 0px;
                padding-top: 40px;
                .btn {
                    text-align: left;
                }
                form {
                    input {
                        text-align: left;
                    }
                }
                h5 {
                    padding-left: 10px;
                }
            }
        }
    }
}