/*------------------------------------------------------------------
1. Typography
------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,700');
body {
    font-family: 'Poppins', sans-serif;
    color: $black;
    margin: 0px;
    padding: 0px;
}

.app-desc {
    font-size: 20px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: 0.5px;
}

h5 {
    font-size: 16px;
    color: #fff;
    letter-spacing: 0.4px;
    font-weight: 300;
    line-height: 1.6;
    width: 100%;
    @include text_elipse;
    text-transform: capitalize;
}

p,
.description {
    font-size: 11px;
    letter-spacing: 0.3px;
    margin-bottom: 16px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    @include text_elipse;
    span {
        padding-top: 5px;
        display: block;
        font-size: 11px;
        &.tags {
            @include text_elipse;
            overflow: hidden;
        }
    }
}