/*[Master Stylesheet]

Project:	Yet Another Image Gallery
Version:	1.1
Author:	Imtiaz Ahmed


[Table of Content]
---------------
1. Typography
2. Common
3. Header Section
4. Gallery Section
5. LightBox
6. Responsive
---------------*/
/*------------------------------------------------------------------
1. Typography
------------------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,700");
body {
  font-family: 'Poppins', sans-serif;
  color: #000;
  margin: 0px;
  padding: 0px; }

.app-desc {
  font-size: 20px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: 0.5px; }

h5 {
  font-size: 16px;
  color: #fff;
  letter-spacing: 0.4px;
  font-weight: 300;
  line-height: 1.6;
  width: 100%;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
  text-transform: capitalize; }

p,
.description {
  font-size: 11px;
  letter-spacing: 0.3px;
  margin-bottom: 16px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis; }
  p span,
  .description span {
    padding-top: 5px;
    display: block;
    font-size: 11px; }
    p span.tags,
    .description span.tags {
      white-space: nowrap;
      overflow-x: hidden;
      text-overflow: ellipsis;
      overflow: hidden; }

/*------------------------------------------------------------------
2. Common
------------------------------------------------------------------*/
input.form-control {
  height: 44px;
  line-height: 44px;
  border: 0px;
  outline: 0px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-radius: 0px;
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -ms-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in; }
  input.form-control::-webkit-input-placeholder {
    text-transform: uppercase;
    letter-spacing: 4px;
    opacity: 1;
    color: #000; }
  input.form-control:active, input.form-control:focus, input.form-control:hover {
    border-bottom: 1px solid #000;
    outline: 0px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }

.input-with-icon {
  position: relative;
  width: 120px;
  margin-top: 40px;
  margin-right: 30px;
  float: right;
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -ms-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in; }
  .input-with-icon:focus, .input-with-icon:active, .input-with-icon:hover {
    width: 200px; }
  .input-with-icon .search-button {
    position: absolute;
    right: 0px;
    top: 4px; }
    .input-with-icon .search-button:focus, .input-with-icon .search-button:active, .input-with-icon .search-button:hover {
      outline: 0px;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none; }
  .input-with-icon input {
    padding-right: 35px;
    padding-left: 3px; }

.btn {
  color: #000;
  text-align: right;
  text-transform: uppercase;
  text-decoration: none !important;
  letter-spacing: 1px;
  opacity: 0.4; }
  .btn.active {
    font-weight: 700;
    opacity: 1; }
  .btn:hover, .btn:active {
    color: #000;
    opacity: 1;
    text-decoration: none !important; }
  .btn:focus {
    color: #000;
    outline: none !important;
    text-decoration: none !important; }

.modal-backdrop.in {
  opacity: 0.8; }

.loader {
  width: 100%;
  text-align: center;
  background: #fff; }

/*------------------------------------------------------------------
3. Header Section
------------------------------------------------------------------*/
#header {
  padding: 40px 0px; }
  #header .logo {
    width: 136px;
    margin: 30px 0px; }
  #header .right {
    position: relative;
    min-height: 310px; }
    #header .right .filter-buttons {
      position: absolute;
      bottom: 0px;
      right: 0px; }
      #header .right .filter-buttons .sort-btn {
        display: inline-block; }
        #header .right .filter-buttons .sort-btn .btn {
          display: block;
          width: 100%; }

/*------------------------------------------------------------------
4. Gallery Section
------------------------------------------------------------------*/
#gallery .image {
  min-height: 300px;
  margin: 0px;
  padding: 0px;
  margin-top: -6px;
  background-color: #f0f0f0;
  background-size: cover;
  background-repeat: no-repeat; }
  #gallery .image .overlay {
    visibility: hidden;
    width: 100%;
    height: 100%;
    min-height: 300px;
    padding: 20px 30px;
    background: rgba(0, 0, 0, 0.7);
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    position: relative;
    -webkit-transition: all 0.1s ease-in;
    -moz-transition: all 0.1s ease-in;
    -ms-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in; }
    #gallery .image .overlay h5 {
      color: #fff;
      letter-spacing: 0.4px;
      font-weight: 300;
      line-height: 1.6;
      width: 100%;
      white-space: nowrap;
      overflow-x: hidden;
      text-overflow: ellipsis; }
    #gallery .image .overlay p, #gallery .image .overlay .description {
      font-size: 12px;
      letter-spacing: 0.3px;
      margin-bottom: 16px;
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      white-space: nowrap;
      overflow-x: hidden;
      text-overflow: ellipsis; }
      #gallery .image .overlay p span, #gallery .image .overlay .description span {
        padding-top: 5px;
        display: block; }
        #gallery .image .overlay p span.tags, #gallery .image .overlay .description span.tags {
          white-space: nowrap;
          overflow-x: hidden;
          text-overflow: ellipsis;
          overflow: hidden; }
    #gallery .image .overlay .lightbox-icon {
      position: absolute;
      bottom: 15px;
      right: 15px;
      padding: 5px; }
  #gallery .image:hover .overlay {
    visibility: visible; }

/*------------------------------------------------------------------
5. LightBox
------------------------------------------------------------------*/
.modal-body {
  background: #000;
  color: #fff;
  padding-top: 0px; }
  .modal-body .lightbox-image-container img {
    width: 100%; }
  .modal-body .action-btns {
    padding: 10px;
    width: 100%; }
    .modal-body .action-btns .btn {
      color: #fff;
      width: 33%;
      text-align: center; }
  .modal-body h5 {
    white-space: normal; }
    .modal-body h5 + p {
      opacity: 0.6; }
  .modal-body .description {
    padding: 20px 0px; }
    .modal-body .description .btn {
      color: #fff; }
    .modal-body .description span {
      white-space: normal; }
    .modal-body .description .right {
      padding-left: 30px;
      text-align: right;
      position: relative; }
      .modal-body .description .right h5 {
        padding-right: 15px; }
  .modal-body form input.form-control {
    background: transparent;
    color: #fff;
    text-align: right;
    border-bottom: 1px solid #fff;
    padding-right: 11px; }
    .modal-body form input.form-control::-webkit-input-placeholder {
      color: #fff; }
  .modal-body form .btn {
    margin-top: 10px; }
  .modal-body .loader-img {
    position: absolute;
    height: 100%;
    z-index: 9999;
    background: #000;
    width: 100%;
    text-align: center; }
    .modal-body .loader-img img {
      height: 100%; }
  .modal-body .func-btns .btn {
    display: block;
    width: 100%; }
  .modal-body .btn:focus {
    outline: 0px;
    text-decoration: none; }

/*------------------------------------------------------------------
6. Responsive
------------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  #header .right {
    min-height: 150px;
    padding-top: 30px; }
    #header .right .filter-buttons {
      left: 0; }
      #header .right .filter-buttons .btn {
        text-align: left; }
  .modal-body .description .right {
    text-align: left;
    padding-left: 0px;
    padding-top: 40px; }
    .modal-body .description .right .btn {
      text-align: left; }
    .modal-body .description .right form input {
      text-align: left; }
    .modal-body .description .right h5 {
      padding-left: 10px; } }
